<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wallet</title>
</head>
<body>
<h1>Bitcoin Paper Wallet - {{ wallet_name }}</h1>

<img src="{{ install_dir }}/bitcoin-blue-ribbon-gift.jpg" align="right">

<p>
    This Paper Wallet contains a private bitcoin key which gives access to your bitcoins.
</p>

<p>
    WARNING: Keep the private key secret, only scan it when you want to tranfer the bitcoins.
</p>

<h2>Check your Balance</h2>

<p>
    To check the available balance you can safely scan the QR code below.
    It contains the address (public key) of this paper wallet.
    All bitcoins addresses and transfers are public, so you can safely share this address.
    To check the balance of this paper wallet search for this address
    on a website such as https://blockchain.info
</p>

<div>Public Bitcoin Address: {{ address }}</div>
<img src="{{ filename_pre }}address.png" width="360px">

<h2>What do I need to do with this paper?</h2>

<p>
    This paper represents actual value in Bitcoins. You have a couple of options:
</p>

<ol>
    <li>Do nothing, keep this paper and store it in a safe place.
    And wait till Bitcoins are worth triljons of Euro's each (or 0 no one knows...)
    Just be sure to make a copy of this paper and store it in another safe place.</li>
    <li>Exchange them for valuable and well known Euro's right now. Follow the instructions to create a new wallet below
    and use a site such as https://bitonic.nl to get the value of your bitcoins wired to you on an IBAN bank account.</li>
    <li>Spend them on pizza (https://thuisbezorgd.nl), vaporizers (https://vaposhop.com/), chocolate and more
    (https://www.eco-logisch.nl/) or of course the well-known Azarius site (https://azarius.net). Follow the steps
    below to create a software wallet.</li>
    <li>Or any combination of the above.</li>
</ol>

<p>
    If you move the bitcoins of this paper wallet, make sure to transfer them all at once for safety reasons.
</p>


<h2>How to create a software wallet</h2>

<p>
    Install bitcoin wallet software on your phone or PC. Mycelium is a good easy to use wallet for Android and Electrum
    is a nice wallet for your PC which is safe, easy to use and has a lot of functionality.
</p>
<p>
    When you create a new wallet remember to create a backup, preferably write down your keys and password
    on a piece of paper. If you lose your phone you can restore your bitcoins with these keys, but if
    you lose your keys your bitcoins are lost. There is no way to recover them.
</p>
<p>
    If you choose to install Mycelium on your phone , you can easily transfer the Bitcoins from this paper
    if you go to the main menu and select 'Cold Storage', then select 'QR code' to scan the Private Key on this paper.
</p>

<h3>Check coineva.com for more paper wallet instructions and Bitcoin information.</h3>

<hr />

<br />

<h2>Private Key</h2>

<p>
    WARNING: Do not reveal this private key until you are ready to transfer it.
    Anything or anyone who scans this key can steal your bitcoins!
</p>

<img src="{{ filename_pre }}privatekey.png" width="440px">

<div>Your private key: {{ private_key }}</div>

</body>
</html>